<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="container product-detail">
  <h1 class="product-name"><%= product.name %></h1>
  <div class="product-info">
    <img src="/images/<%= product.image %>" alt="<%= product.name %>" class="product-image">
    <div class="product-details">
      <p class="product-description"><%= product.description %></p>
      <p class="product-price">$<%= product.price %></p>
      <a href="/products/edit/<%= product.id %>" class="btn-primary edit-product-btn">Editar producto</a>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
